@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: "Audiowide", cursive;
  }
}

html {
  @apply scroll-smooth;
}
@layer components {
  .project {
    @apply absolute   items-center space-x-4 rounded-xl border-2   p-3 text-center   subpixel-antialiased opacity-90 transition duration-500 ease-in-out hover:scale-105 hover:shadow-2xl;
  }
  .project-header {
    @apply absolute inset-x-0 top-0 min-w-full rounded-xl bg-transparent;
  }
}

.shadow-orange {
  text-shadow: #fc0 1px 0 10px;
}

.shadow-gray {
  text-shadow: #e6e5e7 1px 0 5px;
}

.shadow-cyan {
  text-shadow: rgb(21, 114, 186) 1px 0 5px;
}

.shadow-amber {
  text-shadow: #ff0 1px 0 10px;
}

.shadow-purple {
  text-shadow: #f0f 1px 0 10px;
}

.glass {
  background: rgba(251, 252, 253, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.6px);
  backdrop-filter: blur(3.6px);
  border: 1px solid rgba(251, 252, 253, 0.6);
  text-shadow: "0 0 0.5em gray";
}

.scroll-text {
  color: rgba(251, 252, 253, 0.35);
  text-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* .build-text {
  color: rgba(251, 252, 253, 0.5);
  text-shadow: 0 10px 30px rgba(1, 1, 1, 0.5);
} */
